---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import OffreCard from "../components/OffreCard.astro";
import image1 from "../assets/image1.png";
import image2 from "../assets/image2.jpg";
import image3 from "../assets/image3.jpg";

const offres = [
    {
        adresse: "2821 Lake Sevilla, Palm Harbor, TX",
        favori: true,
        id: "6413n8nar83615j",
        nbChambres: 4,
        nbSdb: 2,
        nomMaison: "Beverly Springfield",
        prix: 2700,
        surface: 45,
        imgUrl: image1.src,
    },
    {
        adresse: "2699 Green Valley, Highland Lake",
        favori: true,
        id: "lo831zeg10hpm9y",
        nbChambres: 4,
        nbSdb: 2,
        nomMaison: "Palm Harbor",
        prix: 2895,
        surface: 42,
        imgUrl: image2.src,
    },
    {
        adresse: "909 Woodland St, Michigan, IN",
        favori: false,
        id: "s1zuhjl9x8eb242",
        nbChambres: 4,
        nbSdb: 3,
        nomMaison: "Faulkner Ave",
        prix: 4550,
        surface: 80,
        imgUrl: image3.src,
    },
];
---

<Layout title="Offres">
    <h1>Hello, voici les offres!</h1>
    <div class="offres-container">
        {offres.map((offre) => <OffreCard {...offre} />)}
    </div>
</Layout>

<style>
    .offres-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }
</style>
