---
import Layout from "../../../layouts/Layout.astro";
import { allMaisons } from "../../../backend.mjs";
import OffreCard from "../../../components/OffreCard.astro";

const { prix } = Astro.params;
const prixMax = Number(prix);

if (!prixMax || prixMax < 0) {
    return Astro.redirect("/offres");
} // eviter les erreurs si l'utilisateur entre un prix invalide (ex: /offres/prix/-10000 ou /offres/prix/abc)

const maisons = await allMaisons();
const maisonsFiltrees = maisons.filter((maison) => maison.prix <= prixMax); // Filtrer les maisons avec le maison.prix et prixmax
---

<Layout title={`Maisons <= ${prixMax}€`}>
    <h1>Maisons avec prix &lt;= {prixMax}€</h1>
    <p>{maisonsFiltrees.length} maison(s) trouvée(s)</p>

    <div class="offres-container">
        {
            maisonsFiltrees.map((maison) => (
                <div class="offre">
                    <OffreCard record={maison} />
                </div>
            ))
        }
    </div>

    <a href="/offres">← Retour</a>
</Layout>
