---

---

<header class="bg-blue-600 text-white py-4 w-full">
    <div class="max-w-7xl mx-auto px-4">
        <nav class="flex justify-between items-center">
            <div class="text-2xl font-bold">
                <a href="/" class="hover:opacity-70 transition-opacity"
                    >Virgile Esnaux</a
                >
            </div>
            <div class="flex gap-8">
                <a
                    href="/"
                    class="hover:opacity-70 hover:underline transition-opacity"
                    >Accueil</a
                >
                <a
                    href="/offres"
                    class="hover:opacity-70 hover:underline transition-opacity"
                    >Offres</a
                >
            </div>
        </nav>
    </div>
</header>
